<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="数智化养殖软件平台"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modelfarm"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="personal.profile"
            android:exported="false" />
        <activity
            android:name="company.company_info"
            android:exported="false" />
        <activity
            android:name="farm.farm_point_detail"
            android:exported="false" />
        <activity android:name=".OrderDispatchActivity"
            android:exported="false"/>
        <activity android:name=".OrderDetailActivity"
            android:exported="false"/>
        <activity
            android:name="farm.farm_detail"
            android:exported="false" />
        <activity
            android:name="farm.farm_list"
            android:exported="false" />
        <activity
            android:name="logins.join_company"
            android:exported="false" />
        <activity
            android:name="logins.create_company"
            android:exported="false" />
        <activity
            android:name="logins.choose_company"
            android:exported="false" />
        <activity
            android:name="logins.register"
            android:exported="false" />
        <activity
            android:name="logins.login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Modelfarm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".EnvironmentMonitoringEnhancedActivity"
            android:exported="false"/>
        <activity
            android:name=".OrderCreateActivity"
            android:exported="false" />
        <activity
            android:name=".OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceListActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LiveStreamActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="company.CompanyListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
    </application>

</manifest>